* {
     box-sizing: border-box;
}

body {
	margin: 0;
}

.logo-container {
	position: relative; /* positioned relative to body or html element */
	width: 1200px; /* of viewport */
	margin: 20px auto;
	height: 300px;
/*	border: 1px solid black;*/
}

/****************
Logo - Letters 
*****************/

.logo-letters {
	display: inline-block;
	position: relative;
	height: 85px;
	width: 850px;
	margin: 0 -6px 60px 20px;
/*	border: 1px solid black;*/
}

.letter-container-lowercase {
	float: left;
	position: relative;
	height: 60px; /* same height as orange triangle*/
	width: 60px;
	margin: 15px 1px 0;
/*	border: 1px solid black;*/
}

/****** Uppercase M ******/

.m-uppercase {
	float: left;
	position: relative;
	margin-top: 10px;
	height: 75px; 
	width: 75px;
}

.m-bar-1 {
	float: left;
	height: 75px;
	width: 15px;
	background: #B1B1B1;
	border-top-left-radius: 7px;
}

.m-bar-2 {
	float: left;
	height: 75px;
	width: 15px;
	background: #B1B1B1;
	border-top-left-radius: 5px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

.m-bar-3 {
	height: 75px;
	width: 15px;
	background: #B1B1B1;
	position: absolute;
	left: 45px;
	/*parallelogram*/
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.m-bar-4 {
	float: right;
	height: 75px;
	width: 15px;
	background: #B1B1B1;
}

/****** Lowercase a ******/

.a-bar {
	float: right;
	height: 60px;
	width: 15px;
	margin-top: 10px;
	background: #B1B1B1;
}

.a-ring{
    width: 60px;
    height: 60px;
	margin-top: 10px;
    border: solid #B1B1B1;
    border-width: 15px 12px 15px 16px;
    border-radius: 50%;
    transform: rotateY(27deg);
}

/****** Lowercase y ******/

.y-lowercase {
	position: relative;
	float: left;
	height: 60px; /* same height as orange triangle*/
	width: 60px;
	padding-top: 10px;
	margin-top: 15px;
}

.y-bar-1 {
	position: absolute;
	left: 13px;
	height: 55px;
	width: 15px;
	background: #B1B1B1;
	/*parallelogram*/
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

.y-bar-2 {
	position: absolute;
	left: 30px;
	height: 73px;
	width: 15px;
	background: #B1B1B1;
	border-bottom-right-radius: 5px;
	/*parallelogram*/
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.y-tail-bar {
	position: absolute;
	top: 75px;
	left: 7px;
	height: 15px;
	width: 25px;
	background: #B1B1B1;
    border-bottom-right-radius: 60px;
    transform: rotate(10deg);
}

/****** Lowercase d ******/

.d-lowercase {
	float: left;
	margin-left: -8px;
	height: 90px; /* same height as orange triangle*/
	width: 60px;
}

.d-bar {
	float: right;
	height: 85px;
	width: 15px;
	background: #B1B1B1;
	border-top-right-radius: 7px;
}

.d-ring{
	position: absolute;
	top: 25px;
    width: 60px;
    height: 60px;
    border: solid #B1B1B1;
    border-width: 15px 12px 15px 16px;
    border-radius: 50%;
    transform: rotateY(-27deg);
}

/****** Lowercase e ******/

.e-circle {
    width: 60px;
    height: 60px;
	margin-top: 11px;
    border: solid #B1B1B1;
    border-width: 12px 13px 12px 13px;
    border-radius: 50%;
    transform: rotateY(20deg);
}

.e-bar {
    width: 45px;
    height: 12px;
	background: #B1B1B1;
	position: absolute;
	top: 34px;
	left: 6px;
}

.e-gap {
	/*trapezoid*/
	position: absolute;
	left: 43px;
	top: 43px;
	width: 15px;
	border-bottom: 15px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transform: rotate(-72deg);
}

/****** Lowercase n ******/

.n-bar-left {
	float: left;
	position: absolute;
	height: 60px;
	width: 15px;
	margin-top: 10px;
	background: #B1B1B1;
}

.n-bar-right {
	float: right;
	position: absolute;
	top: 22px;
	left: 38px;
	height: 38px;
	width: 15px;
	margin-top: 10px;
	background: #B1B1B1;
	border-bottom-left-radius: 7px;
}

.n-curve-container {
	position: relative;
	height: 27px; /* same height as orange triangle*/
	width: 60px;
	margin-top: 10px;
	overflow: hidden;
}

.n-curve {
    width: 118px;
    height: 52px;
    border: solid #B1B1B1;
    border-width: 13px 41px 15px 11px;
    border-radius: 50%;
    position: absolute;
    right: -31px;
    transform: rotateY(69deg);
}

/****** Uppercase A ******/

.a-uppercase {
	float: left; /* Seems to matter if float is before or after position */
	position: relative;
    height: 75px;
    width: 75px;
}

.a-bar-left {
    float: left;
	margin-left: 25px;
    height: 85px;
    width: 15px;
    background: #B1B1B1;
	border-top-left-radius: 7px;
	/*parallelogram*/
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.a-bar-right {
    float: right;
    height: 85px;
    width: 15px;
    background: #B1B1B1;
	/*parallelogram*/
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

.a-crossbar {
    position: absolute;
    top: 48px; /* Need to use px suffix for it to work */
    left: 23px;
    height: 15px;
    width: 54px;
	background: #B1B1B1;
}

/****** Lowercase c ******/

.c-curve {
    width: 60px;
    height: 60px;
	margin-left: 7px;
	margin-top: 10px;
    border: solid #B1B1B1;
    border-width: 15px 12px 15px 16px;
    border-radius: 50%;
    transform: rotateY(27deg);
}

.c-gap {
	/*trapezoid*/
	position: absolute;
	left: 34px;
	top: 28px;
	width: 37px;
	border-bottom: 23px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(-91deg);
}

/****** academy - lowercase a ******/

.academy-a-bar {
	float: right;
	height: 60px;
	width: 15px;
	margin-top: 10px;
	margin-right: 5px;
	background: #B1B1B1;
}

.academy-a-ring{
    width: 60px;
    height: 60px;
	margin-top: 10px;
	margin-left: -5px;
    border: solid #B1B1B1;
    border-width: 15px 12px 15px 16px;
    border-radius: 50%;
    transform: rotateY(27deg);
}

/****** academy - lowercase m ******/

.m-lowercase {
	float: left;
	position: relative;
	margin-top: 15px;
	height: 75px; 
	width: 95px;
}

.n-bar-right-2 {
	float: right;
	position: absolute;
	top: 33px;
	left: 75px;
	height: 38px;
	width: 15px;
/*	margin-top: 10px;*/
	background: #B1B1B1;
	border-bottom-left-radius: 7px;
}

.n-curve-container-2 {
/*	float: right;*/
	position: relative;
	top: -26px;
	left: 31px;
	height: 27px; /* same height as orange triangle*/
	width: 60px;
/*	margin-top: 10px;*/
	overflow: hidden;
}

.n-curve-2 {
    width: 118px;
    height: 52px;
    border: solid #B1B1B1;
    border-width: 13px 41px 15px 11px;
    border-radius: 50%;
    position: absolute;
    right: -37px;
    transform: rotateY(69deg);
}

/****** academy - lowercase y ******/

.academy-y-lowercase {
	position: relative;
	float: left;
	height: 60px; /* same height as orange triangle*/
	width: 60px;
	padding-top: 10px;
	margin: 15px 0 0 -7px;
}

/****************
Logo - Image 
*****************/

.logo-image {
	display: inline-block;
	z-index: 10;
	height: 160px;
	width: 160px;
	position: relative; /* Required to use positioning in child divs */
	margin-top: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.green-side {
	z-index: 20;
	display: inline-block;
	height: 120px;
	width: 80px;
	position: absolute;
	right: 50%;
	background-color: #95B96A;
}

.lightblue-side {
	z-index: 20;
	display: inline-block;
	height: 120px;
	width: 80px;
	position: absolute;
	left: 50%;
	background-color: #308FAE;
}

.darkblue-side {
	z-index: 20;
	height: 50px;
	width: 155px;
	position: absolute;
	top: 123px;
	background-color: #2B5173;
}

.orange-center {
	z-index: 30;
	height: 60px;
	width: 55px;
	position: absolute;
	top: 23%;
	left: 35%;
	background-color: #F07332;
}

.white-bar-left {
	z-index: 40;
	height: 33px;
	width: 170px;
	position: absolute; /*Have to position it for it to show with z-index*/
	top: 58px;
	right: 27px;
	background-color: #FFF;
	border-radius: 0 28px 0 0;
    /* Rotate div */
	-o-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg); /* IE 9 */
    -webkit-transform: rotate(-65deg); /* Safari 3-8 */
    transform: rotate(-68deg);
}

.white-bar-right {
	z-index: 40;
	height: 33px;
	width: 170px;
	position: absolute; 
	top: 66px;
	left: 33px;
	background-color: #FFF;
    /* Rotate div */
	-o-transform: rotate(68deg); /* Opera */
    -ms-transform: rotate(68deg); /* IE 9 & Edge */
    -webkit-transform: rotate(68deg); /* Safari 3-8 & Chrome*/
    transform: rotate(68deg);
}

.white-crossbar {
	z-index: 40;
	height: 31px;
	width: 100px;
	position: absolute; 
	top: 94px;
	left: 28px;
	background-color: #FFF;
}
































	width: 160px;
	position: relative; /* Required to use positioning in child divs */
	margin-top: 50px;
	border-radius: 50%;
/*	position: absolute;
	top: 100px;
	left: 80%;*/
	overflow: hidden;
}

.green-block {
	z-index: 20;
	display: inline-block;
	height: 120px;
	width: 80px;
	position: absolute;
	right: 50%;
	background-color: #95B96A;
}

.light-blue-block {
	z-index: 20;
	display: inline-block;
	height: 120px;
	width: 80px;
	position: absolute;
	left: 50%;
	background-color: #308FAE;
}

.dark-blue-block {
	z-index: 20;
	height: 50px;
	width: 160px;
	position: absolute;
	top: 118px;
	background-color: #2B5173;
}

.orange-block {
	z-index: 30;
	height: 60px;
	width: 55px;
	position: absolute;
	top: 23%;
	left: 35%;
	background-color: #F07332;
}

.white-block-left {
	z-index: 40;
	height: 30px;
	width: 170px;
	position: absolute; /*Have to position it for it to show with z-index*/
	top: 58px;
	right: 27px;
	background-color: #FFF;
	border-radius: 0 28px 0 0;
    /* Rotate div */
	-o-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg); /* IE 9 */
    -webkit-transform: rotate(-65deg); /* Safari 3-8 */
    transform: rotate(-65deg);
}

.white-block-right {
	z-index: 40;
	height: 30px;
	width: 170px;
	position: absolute; 
	top: 65px;
	left: 33px;
	background-color: #FFF;
    /* Rotate div */
	-o-transform: rotate(65deg); /* Opera */
    -ms-transform: rotate(65deg); /* IE 9 & Edge */
    -webkit-transform: rotate(65deg); /* Safari 3-8 & Chrome*/
    transform: rotate(65deg);
}

.white-block-middle {
	z-index: 40;
	height: 30px;
	width: 100px;
	position: absolute; 
	top: 94px;
	left: 28px;
	background-color: #FFF;
}































